<div class="editEntityModal">
    <div class="modal" tabindex="-1" role="dialog" aria-labelledby="editEntityModalLabel" aria-hidden="true">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="editEntityModalLabel">{{title}}</h3>
        </div>
        <div class="modal-body">
            {{#model.id}}
            <div class="control-group form-horizontal">
                <label class="control-label">{{general_id}}</label>

                <div class="controls">
                    <div class="value-div">{{model.id}}</div>
                </div>
            </div>
            {{/model.id}}

            <div class="control-group form-horizontal field-name">
                <label class="control-label" for="field_name">{{customers_column_name}}</label>

                <div class="controls">
                    <input class="input-large" id="field_name" type="text" required="required" value="{{model.name}}">
                    <span class="help-inline"> </span>
                </div>
            </div>

            <div class="control-group form-horizontal fileUploadGroup">
                <label class="control-label">{{general_image}}</label>
                <div class="controls"></div>
            </div>

        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">{{general_close}}</button>
            <button class="btn btn-primary editEntitySubmitButton">{{submit}}</button>
        </div>
    </div>
</div>
