<table class="table table-striped table-hover sorted">
    <thead>
    <tr>
        <th class="span1">
            {{general_id}}
            <span class="sorter" data-column="id"></span>
        </th>
        <th class="span1">
            {{order_date}}
            <span class="sorter" data-column="date"></span>
        </th>
        <th class="span3">
            {{order_customer}}
            <span class="sorter" data-column="customer"></span>
        </th>
        <th class="span1"></th>
        <th class="span1">
            {{order_products_count}}
            <span class="sorter" data-column="productsCount"></span>
        </th>
        <th class="span1">
            {{order_products_price}}
            <span class="sorter" data-column="productsPrice"></span>
        </th>
        <th class="span1">
            {{order_grand_total_price_light}}
            <span class="sorter" data-column="totalPrice"></span>
        </th>
        <th class="span1">
            {{order_current_order_state_name}}
            <span class="sorter" data-column="currentOrderStateName"></span>
        </th>
        <th class="span1"></th>
    </tr>
    </thead>
    <tbody>
    {{#models}}
    <tr>
        <td><a href="{{context}}/orders/{{id}}">{{id}}</a></td>
        <td>{{attributes.date}}</td>
        <td>{{attributes.customer.name}}</td>
        <td>
            {{#attributes.customer.imageId}}
            <div data-toggle="modal-gallery" data-target="#modal-gallery">
                <a href="{{context}}/api/images/{{attributes.customer.imageId}}" data-gallery="gallery">
                    <img src="{{context}}/api/images/{{attributes.customer.imageId}}" style="height: 20px">
                </a>
            </div>
            {{/attributes.customer.imageId}}
        </td>
        <td>{{attributes.productsCount}}</td>
        <td>{{attributes.productsPrice}}</td>
        <td>{{attributes.totalPrice}}</td>
        <td>{{attributes.currentOrderStateName}}</td>
        <td>
            <div class="btn-group">
                <button class="btn btn-mini btn-info dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu">
                    <li>
                        <a tabindex="-1" data-id="{{id}}" href="{{context}}/orders/{{id}}"><i class="icon-pencil"></i> {{general_modify}}</a>
                    </li>
                    <li>
                        <a tabindex="-1" data-id="{{id}}" href="#" class="delete"><i class="icon-trash"></i> {{general_remove}}</a>
                    </li>
                </ul>
            </div>
        </td>
    </tr>
    {{/models}}
    </tbody>
</table>
