<table class="table table-condensed table-bordered">
    <thead>
    <tr>
        <th class="span1">
            {{general_id}}
        </th>
        <th>
            {{products_column_name}}
        </th>
        <th>
            {{products_column_price}}, ₴
        </th>
        <th>Images</th>
        <th></th>
    </tr>
    </thead>
    <tfoot>
    <tr>
        <td colspan="5">
            <form class="form-horizontal" id="addProductContainer">
                <div class="control-group">
                    <label class="control-label">Product</label>
                    <div class="controls">
                        <span class="span10"><input type="hidden" id="field_products" value=""></span>
                        <span class="help-inline error"></span>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <button id="addProduct" type="button" class="btn btn-primary">
                            <i class="icon-plus icon-white"></i> Add product
                        </button>
                    </div>
                </div>
            </form>
        </td>
    </tr>
    </tfoot>
    <tbody>
    {{#products}}
    <tr>
        <td>{{id}}</td>
        <td>{{name}}</td>
        <td>{{price}}.00</td>
        <td>
            {{#imageId}}
            <div data-toggle="modal-gallery" data-target="#modal-gallery">
                <a href="{{context}}/api/images/{{imageId}}" data-gallery="gallery">
                    <img src="{{context}}/api/images/{{imageId}}" style="height: 30px">
                </a>
            </div>
            {{/imageId}}
        </td>
        <td>
            <div class="btn-group">
                <button class="btn btn-mini btn-info dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu">
                    <li>
                        <a tabindex="-1" data-id="{{id}}" href="#" class="delete"><i class="icon-trash"></i> Remove from order</a>
                    </li>
                </ul>
            </div>
        </td>
    </tr>
    {{/products}}
    <!-- total -->
    <!--<tr>
        <td colspan="2">
            <span class="text-right" style="float: right; padding-top: 5px">
            Total
            </span>
        </td>
        <td colspan="3" class="text-left">
            <div class="input-prepend input-append inline">
                <span class="add-on">₴</span>
                <span class="add-on">{{productsPrice}}</span>
                <span class="add-on">.00</span>
            </div>
        </td>
    </tr>-->
    </tbody>
</table>