<table class="table table-condensed table-bordered">
    <thead>
    <tr>
        <th class="span1">
            {{general_id}}
        </th>
        <th>
            {{order_products_column_name}}
        </th>
        <th>
            {{order_products_column_price}}
        </th>
        <th>Images</th>
        <th></th>
    </tr>
    </thead>
    <tfoot>
    <tr>
        <td colspan="5">
            <a href="{{context}}/orders/{{id}}/addProducts" role="button" class="btn btn-primary">
                <i class="icon-plus icon-white"> </i>
                {{order_add_product}}
            </a>
        </td>
    </tr>
    </tfoot>
    <tbody>
    {{#products}}
    <tr>
        <td>{{id}}</td>
        <td>{{name}}</td>
        <td>{{price}}.00</td>
        <td>
            {{#imageId}}
            <div data-toggle="modal-gallery" data-target="#modal-gallery">
                <a href="{{context}}/api/images/{{imageId}}" data-gallery="gallery">
                    <img src="{{context}}/api/images/{{imageId}}" style="height: 30px">
                </a>
            </div>
            {{/imageId}}
        </td>
        <td>
            <div class="btn-group">
                <button class="btn btn-mini btn-info dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu">
                    <li>
                        <a tabindex="-1" data-id="{{id}}" href="#" class="delete"><i class="icon-trash"></i> {{order_remove_product_from_order}}</a>
                    </li>
                </ul>
            </div>
        </td>
    </tr>
    {{/products}}
    <!-- total -->
    <tr>
        <td colspan="2">
            <span class="text-right" style="float: right;">
            {{order_products_count}}
            </span>
        </td>
        <td colspan="3" class="text-left">
            <span class="add-on">{{productsCount}}</span>
        </td>
    </tr>
    </tbody>
</table>