.block {
    display: block;
}

.inline {
    display: inline;
}

.error {
    color: #b94a48;
}

.entity-controls {
    margin-bottom: 20px;
}

.search {
    margin-bottom: 20px;
}

span.sort {
    cursor: pointer;
}

.form-horizontal .value-div {
    padding-top: 5px;
    text-align: left;
}

.oshopAppName {
    width: 115px;
}

.ajaxLoading {
    display: inline;
    padding-left: 7px;
}

.select2-container {
    display: block;
}

/* Orders */
input.price {
    width: 30%
}

/* table list */
tr.selected {
    border: 2px solid #57b93f;
    margin: 1px;
    background-color: #d6f3f1;
}


/* tile list */
.tile-list-item {
    width: 200px;
    height: 275px;
    margin: 5px;
    padding: 5px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

.tile-list-item:hover {
    border: 3px solid #818181;
    margin: 3px;
    background-color: #f3f3f3;
}

.tile-list-item.selected {
    border: 5px solid #57b93f;
    margin: 1px;
    background-color: #d6f3f1;
}

.tile-list-item .image-wrapper {
    text-align: center;
    height: 158px
}

.tile-list-item img {
    max-width: 190px;
    max-height: 148px;
}

.tile-list-item .text-ellipsis {
    -o-text-overflow: ellipsis;   /* Opera */
    text-overflow:    ellipsis;   /* IE, Safari (WebKit) */
    overflow:hidden;              /* don't show excess chars */
    white-space:nowrap;           /* force single line */
    width: 190px;                 /* fixed width */
}

.tile-list-item .text-title {
    cursor: pointer;
}

.tile-list-item h5,h6,p {
    margin-top: 3px;
    margin-bottom: 3px;
}

/* dashboard */

#expensesIncomesSumChart,
#expensesIncomesPieChart {
    margin-top: 50px;
    float:left;
}

#expensesAndIncomesDailyChart,
#incomesMinusExpensesCumulativeChart,
#googlemap {
    margin-top: 50px;
}

#googlemap {
    width: 100%
}

/* Large desktop */
@media (min-width: 1200px) {
    #expensesIncomesSumChart,
    #expensesIncomesPieChart,
    #expensesAndIncomesDailyChart,
    #incomesMinusExpensesCumulativeChart {
        height: 400px
    }

    #googlemap {
        height: 800px
    }
}

/* Small desktop */
@media (min-width: 980px) and (max-width: 1199px) {
    #expensesIncomesSumChart,
    #expensesIncomesPieChart,
    #expensesAndIncomesDailyChart,
    #incomesMinusExpensesCumulativeChart {
        height: 400px
    }

    #googlemap {
        height: 700px
    }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
    #expensesIncomesSumChart,
    #expensesIncomesPieChart,
    #expensesAndIncomesDailyChart,
    #incomesMinusExpensesCumulativeChart {
        height: 400px
    }

    #googlemap {
        height: 600px
    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    #expensesIncomesSumChart,
    #expensesIncomesPieChart,
    #expensesAndIncomesDailyChart,
    #incomesMinusExpensesCumulativeChart {
        height: 300px
    }

    #googlemap {
        height: 500px
    }
}

/* Landscape phones and down */
@media (max-width: 480px) {
    #expensesIncomesSumChart,
    #expensesIncomesPieChart,
    #expensesAndIncomesDailyChart,
    #incomesMinusExpensesCumulativeChart {
        height: 200px
    }

    #googlemap {
        height: 300px
    }
}

/* emulate btn-group */

.input-append .add-on:last-child,
.input-append .btn:last-child,
.input-append .btn-group2:last-child > .dropdown-toggle {
    -webkit-border-radius: 0 0 0 0;
    -moz-border-radius: 0 0 0 0;
    border-radius: 0 0 0 0;
}

.input-prepend.input-append .btn-group2:first-child {
    margin-left: 0;
}

.btn-group2 {
    position: relative;
    display: inline-block;
    *display: inline;
    *margin-left: .3em;
    font-size: 0;
    white-space: nowrap;
    vertical-align: middle;
    *zoom: 1;
}

.btn-group2 > .btn:hover,
.btn-group2 > .btn:focus,
.btn-group2 > .btn:active,
.btn-group2 > .btn.active {
    z-index: 2;
}

.btn-group2.open .dropdown-toggle {
    outline: 0;
}

.btn-group2.open .dropdown-toggle {
    background-image: none;
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn-group2.open .btn.dropdown-toggle {
    background-color: #e6e6e6;
}
