<table id="itemCategoriesTable" class="table table-striped table-hover">
    <thead>
    <tr>
        <th class="span1">#</th>
        <th class="span1">{{item_category_column_name}}</th>
        <th class="span1"></th>
        <th class="span1"></th>
    </tr>
    </thead>
    <tbody>
    {{#models}}
    <tr>
        <td>{{id}}</td>
        <td>{{attributes.name}}</td>
        <td>
            {{#attributes.imageId}}
            <div data-toggle="modal-gallery" data-target="#modal-gallery">
                <a href="api/images/{{attributes.imageId}}" data-gallery="gallery">
                    <img src="api/images/{{attributes.imageId}}" style="height: 30px">
                </a>
            </div>
            {{/attributes.imageId}}
        </td>
        <td>
            <div class="btn-group">
                <button class="btn btn-mini btn-info dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu">
                    <li data-action="modifyItemCategory">
                        <a tabindex="-1" data-id="{{id}}" href="#edit/{{id}}" class="editItemCategory"><i class="icon-pencil"></i> {{general_modify}}</a>
                    </li>
                    <li data-action="removeItemCategory">
                        <a tabindex="-1" data-id="{{id}}" href="#" class="deleteItemCategory"><i class="icon-trash"></i> {{general_remove}}</a>
                    </li>
                </ul>
            </div>
        </td>
    </tr>
    {{/models}}
    </tbody>
</table>
