<table class="table table-condensed table-bordered">
    <thead>
    <tr>
        <th class="span2">
            {{order_order_state_date}}
        </th>
        <th class="span1">
            {{order_state_name}}
        </th>
        <th>
            {{order_order_state_description}}
        </th>
    </tr>
    </thead>
    <tfoot>
    <tr>
        <td colspan="5">
            <form class="form-horizontal" id="addStateContainer">
                <div class="control-group">
                    <label class="control-label">{{order_state_name}}</label>
                    <div class="controls">
                        <span class="span10"><input type="hidden" id="field_orderStatus" value=""></span>
                        <span class="help-inline error"></span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">{{order_order_state_description}}</label>

                    <div class="controls">
                        <textarea id="orderStatusDescription" rows="2"></textarea>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <button id="addStatus" type="button" class="btn btn-primary">
                            <i class="icon-plus icon-white"></i> {{order_order_status_add}}
                        </button>
                    </div>
                </div>
            </form>
        </td>
    </tr>
    </tfoot>
    <tbody>
    {{#states}}
    <tr>
        <td>{{date}}</td>
        <td>{{state}}</td>
        <td>{{description}}</td>
    </tr>
    {{/states}}
    </tbody>
</table>