<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:util="http://www.springframework.org/schema/util"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.2.xsd
http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.1.xsd">

    <global-method-security secured-annotations="enabled" />

    <http pattern="**" access-denied-page="/error403.jsp" disable-url-rewriting="true">
        <intercept-url pattern="/favicon.ico" access="ROLE_ADMIN,ROLE_USER,ROLE_ANONYMOUS"/>
        <intercept-url pattern="/login.jsp" access="ROLE_ADMIN,ROLE_USER,ROLE_ANONYMOUS"/>
        <intercept-url pattern="/resources/**" access="ROLE_ADMIN,ROLE_USER,ROLE_ANONYMOUS"/>
        <intercept-url pattern="/**" access="ROLE_ADMIN,ROLE_USER"/>

        <session-management invalid-session-url="/" session-authentication-error-url="/">
            <concurrency-control max-sessions="1" />
        </session-management>
        <form-login login-page="/login.jsp" default-target-url="/"
                    authentication-failure-url="/login.jsp?error=true"/>
        <logout logout-url="/logout" logout-success-url="/" delete-cookies="JSESSIONID"/>
        <anonymous username="guest" granted-authority="ROLE_ANONYMOUS"/>
        <remember-me key="342sdfsadf-342134-kjahkajh-wqwjqej"/>
    </http>

    <authentication-manager>
        <authentication-provider>
            <user-service properties="classpath:users.properties"/>
        </authentication-provider>
    </authentication-manager>
</beans:beans>