<div class="editEntityModal">
    <div class="modal" tabindex="-1" role="dialog" aria-labelledby="editEntityModalLabel" aria-hidden="true">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="editEntityModalLabel">{{title}}</h3>
        </div>
        <div class="modal-body">
            {{#model.id}}
            <div class="control-group form-horizontal">
                <label class="control-label">{{general_id}}</label>

                <div class="controls">
                    <div class="value-div">{{model.id}}</div>
                </div>
            </div>
            {{/model.id}}

            <div class="control-group form-horizontal field-description">
                <label class="control-label" for="field_description">{{additional_payment_column_description}}</label>

                <div class="controls">
                    <textarea id="field_description" required="required" rows="3">{{model.description}}</textarea>
                    <span class="help-inline"> </span>
                </div>
            </div>
            <div class="control-group form-horizontal field-amount">
                <label class="control-label" for="field_amount">{{additional_payment_column_amount}}</label>

                <div class="controls">
                    <div class="input-prepend input-append">
                        <span class="add-on">₴</span>
                        <input class="input-large span1" id="field_amount" type="text" required="required" value="{{model.amount}}">
                        <span class="add-on">.00</span>
                    </div>
                    <span class="help-inline"> </span>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">{{general_close}}</button>
            <button class="btn btn-primary editEntitySubmitButton">{{submit}}</button>
        </div>
    </div>
</div>
