<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
       default-lazy-init="true">

    <bean id="genericDaoFactory" class="oshop.dao.GenericDaoFactory"/>

    <bean id="customerDao" factory-bean="genericDaoFactory" factory-method="getGenericDao">
        <constructor-arg type="java.lang.Class" value="oshop.model.Customer" />
    </bean>
</beans>
