/* UKRPOST */

.ukrPost {
    position: relative;
    float: left;
    padding: 35px 31px 0px 31px;
    width: 408px;
    height: 610px;
}

.ukrPost img {
    width: 408px;
    height: 610px;
}

.ukrPost .text {
    position: absolute;
    line-height: 20px;
    font-style: normal;
    font-weight: bold;
}

.ukrPost .name {
    top: 295px;
    left: 40px;
}

.ukrPost .address {
    top: 315px;
    left: 40px;
}

.ukrPost .city {
    top: 335px;
    left: 40px;
}

.ukrPost .priceLess {
    top: 247px;
    left: 250px;
}

.ukrPost .priceLess1 {
    top: 505px;
    left: 175px;
}

.ukrPost .bird {
    top: 420px;
    left: 268px;
}

.ukrPost .phone {
    display: none;
}

.ukrPost .name1 {
    top: 555px;
    left: 40px;
}

.ukrPost .address1 {
    top: 575px;
    left: 40px;
}

.ukrPost .city1 {
    top: 600px;
    left: 40px;
}

.ukrPost .returnName {
    top: 353px;
    left: 190px;
}

.ukrPost .returnAddress {
    top: 373px;
    left: 190px;
}

.ukrPost .returnCity {
    top: 390px;
    left: 150px;
}

.ukrPost.address {
    border: 1px solid #000000;
    padding: 0px;
    margin: 3px 3px 3px 3px;
    width: 450px;
    height: 150px;
}

.ukrPost.address .text {
    position: relative;
    font-size: 18px;
    font-weight: bold;
    padding: 5px;
    top: 0px;
    left: 0px;
}

.ukrPostSeparator {
    position: relative;
    height: 80px;
    width: 100%;
    float: left;
}

/* SALES RECEIPT */
.salesReceipt-main {
    width: 940px;
}

.salesReceipt-item {
    float: left;
    width: 450px;
    margin: 4px;
    border: 1px dashed #000000;
    padding: 4px;
}

.salesReceipt-products-table {
    border: 1px solid black;
    width: 100%;
}

.salesReceipt-products-table,
.salesReceipt-products-table th,
.salesReceipt-products-table td {
    border-collapse:collapse;
    border: 1px solid black;
}

.salesReceipt-products-table .number {
    max-width: 50px;
}