.block {
    display: block;
}

.inline {
    display: inline;
}

.error {
    color: #b94a48;
}

.entity-controls {
    margin-bottom: 20px;
}

.search {
    margin-bottom: 20px;
}

span.sort {
    cursor: pointer;
}

.form-horizontal .value-div {
    padding-top: 5px;
    text-align: left;
}

.select2-container {
    display: block;
}
