.block {
    display: block;
}

.inline {
    display: inline;
}

.error {
    color: #b94a48;
}

.entity-controls {
    margin-bottom: 20px;
}

.search {
    margin-bottom: 20px;
}

span.sort {
    cursor: pointer;
}

.form-horizontal .value-div {
    padding-top: 5px;
    text-align: left;
}

.oshopAppName {
    width: 115px;
}

.ajaxLoading {
    display: inline;
    padding-left: 7px;
}

.select2-container {
    display: block;
}

/* Orders */
input.price {
    width: 30%
}

/* tile list */
.tile-list-item {
    width: 150px;
    height: 270px;
    margin: 5px;
    padding: 5px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

.tile-list-item .image-wrapper {
    text-align: center;
    height: 120px
}

.tile-list-item img {
    width: 140px;
    max-height: 120px;
}
