.block {
    display: block;
}

.inline {
    display: inline;
}

.warning {
    position: absolute;
    top: 0;
}

.error {
    color: #b94a48;
}

.scrollable-table {
    max-height: 640px;
    overflow: auto;
}

.entity-controls {
    margin-bottom: 20px;
}

.search {
    margin-bottom: 20px;
}