<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <a class="brand oshopAppName" href="#">
            {{webapp_name}}
            <div class="ajaxLoading">
                <img src="{{context}}/resources/img/ajax-loader.gif">
            </div>
        </a>
        <div class="container">
            <a class="btn btn-navbar collapsed" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>

            <div class="nav-collapse navbar-responsive-collapse collapse" style="height: 0px;">
                <ul class="nav">
                    <li {{#orders}}class="active"{{/orders}}><a href="{{context}}/orders">{{navbar_orders}}</a></li>
                    <li {{#products}}class="active"{{/products}}><a href="{{context}}/products">{{navbar_products}}</a></li>
                    <li {{#customers}}class="active"{{/customers}}><a href="{{context}}/customers">{{navbar_customers}}</a></li>
                    <li {{#expenses}}class="active"{{/expenses}}><a href="{{context}}/expenses">{{navbar_expenses}}</a></li>
                    <li class="dropdown {{#dictionaries}}active{{/dictionaries}}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{navbar_dictionaries}} <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li {{#shippingTypes}}class="active"{{/shippingTypes}}><a href="{{context}}/shippingTypes">{{navbar_shipping_types}}</a></li>
                            <li {{#productCategories}}class="active"{{/productCategories}}><a href="{{context}}/productCategories">{{navbar_product_categories}}</a></li>
                            <li {{#orderStates}}class="active"{{/orderStates}}><a href="{{context}}/orderStates">{{navbar_order_states}}</a></li>
                            <li {{#discounts}}class="active"{{/discounts}}><a href="{{context}}/discounts">{{navbar_discounts}}</a></li>
                            <li {{#additionalPayments}}class="active"{{/additionalPayments}}><a href="{{context}}/additionalPayments">{{navbar_additional_payments}}</a></li>
                            <li {{#cities}}class="active"{{/cities}}><a href="{{context}}/cities">{{navbar_cities}}</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav pull-right">
                    <li class="dropdown active">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{navbar_language}} <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li {{#lang-ru}}class="active"{{/lang-ru}}><a class="lang" href="#" data-lang="ru">Русский</a></li>
                            <li {{#lang-en}}class="active"{{/lang-en}}><a class="lang" href="#" data-lang="en">English</a></li>
                        </ul>
                    </li>
                    <li class="divider-vertical"></li>
                    <li class="dropdown active">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{navbar_themes}} <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li {{#theme-default}}class="active"{{/theme-default}}><a class="theme" href="#" data-theme="default">{{navbar_themes_default}}</a></li>
                            <li {{#theme-darkstrap}}class="active"{{/theme-darkstrap}}><a class="theme" href="#" data-theme="darkstrap">Darkstrap</a></li>
                            <li {{#theme-amelia}}class="active"{{/theme-amelia}}><a class="theme" href="#" data-theme="amelia">amelia</a></li>
                            <li {{#theme-cerulean}}class="active"{{/theme-cerulean}}><a class="theme" href="#" data-theme="cerulean">cerulean</a></li>
                            <li {{#theme-cosmo}}class="active"{{/theme-cosmo}}><a class="theme" href="#" data-theme="cosmo">cosmo</a></li>
                            <li {{#theme-cyborg}}class="active"{{/theme-cyborg}}><a class="theme" href="#" data-theme="cyborg">cyborg</a></li>
                            <li {{#theme-journal}}class="active"{{/theme-journal}}><a class="theme" href="#" data-theme="journal">journal</a></li>
                            <li {{#theme-readable}}class="active"{{/theme-readable}}><a class="theme" href="#" data-theme="readable">readable</a></li>
                            <li {{#theme-simplex}}class="active"{{/theme-simplex}}><a class="theme" href="#" data-theme="simplex">simplex</a></li>
                            <li {{#theme-slate}}class="active"{{/theme-slate}}><a class="theme" href="#" data-theme="slate">slate</a></li>
                            <li {{#theme-spacelab}}class="active"{{/theme-spacelab}}><a class="theme" href="#" data-theme="spacelab">spacelab</a></li>
                            <li {{#theme-spruce}}class="active"{{/theme-spruce}}><a class="theme" href="#" data-theme="spruce">spruce</a></li>
                            <li {{#theme-superhero}}class="active"{{/theme-superhero}}><a class="theme" href="#" data-theme="superhero">superhero</a></li>
                            <li {{#theme-united}}class="active"{{/theme-united}}><a class="theme" href="#" data-theme="united">united</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>