<div class="pagination pagination pagination-right">
    <div class="total">Total: {{total}}</div>
    <ul>
        {{#pages}}
        <li class="{{#active}}active{{/active}} {{#disabled}}disabled{{/disabled}}">
            {{^disabled}}
            <a href="#" data-page="{{page}}">
            {{/disabled}}
            {{#disabled}}
            <span>
            {{/disabled}}
                {{^label}}
                    {{#isFirst}}&laquo;{{/isFirst}}
                    {{#isLast}}&raquo;{{/isLast}}
                    {{#isPrevious}}&lt;{{/isPrevious}}
                    {{#isNext}}&gt;{{/isNext}}
                {{/label}}
                {{#label}}
                    {{label}}
                {{/label}}
            {{#disabled}}
            </span>
            {{/disabled}}
            {{^disabled}}
            </a>
            {{/disabled}}
        </li>
        {{/pages}}
    </ul>
</div>
