<div class="editEntityModal">
    <div class="modal" tabindex="-1" role="dialog" aria-labelledby="editEntityModalLabel" aria-hidden="true">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="editEntityModalLabel">{{title}}</h3>
        </div>
        <div class="modal-body">
            {{#model.id}}
            <div class="control-group form-horizontal">
                <label class="control-label">{{general_id}}</label>

                <div class="controls">
                    <div class="value-div">{{model.id}}</div>
                </div>
            </div>
            {{/model.id}}

            <div class="control-group form-horizontal field-customer">
                <label class="control-label" for="field_customer">{{shipping_addresses_column_customer}}</label>

                <div class="controls">
                    <div>
                        <input type="hidden" id="field_customer" value="{{model.customer.id}}" data-text="{{model.customer.name}}">
                    </div>
                    <span class="help-inline"> </span>
                </div>
            </div>

            <div class="control-group form-horizontal field-city">
                <label class="control-label" for="field_city">{{shipping_addresses_column_city}}</label>

                <div class="controls">
                    <input type="hidden" id="field_city" value="{{model.city.id}}" data-text="{{model.city.name}} | {{model.city.region}}">
                    <span class="help-inline"> </span>
                </div>
            </div>

            <div class="control-group form-horizontal field-recipient">
                <label class="control-label" for="field_recipient">{{shipping_addresses_column_recipient}}</label>

                <div class="controls">
                    <input class="input-large" id="field_recipient" required="required" type="text" value="{{model.recipient}}">
                    <span class="help-inline"> </span>
                </div>
            </div>

            <div class="control-group form-horizontal field-address">
                <label class="control-label" for="field_address">{{shipping_addresses_column_address}}</label>

                <div class="controls">
                    <textarea id="field_address" required="required" rows="3">{{model.address}}</textarea>
                    <span class="help-inline"> </span>
                </div>
            </div>

            <div class="control-group form-horizontal field-phone">
                <label class="control-label" for="field_phone">{{shipping_addresses_column_phone}}</label>

                <div class="controls">
                    <input class="input-large" id="field_phone" type="text" value="{{model.phone}}">
                    <span class="help-inline"> </span>
                </div>
            </div>

            <div class="control-group form-horizontal field-postal-code">
                <label class="control-label" for="field_postal_code">{{shipping_addresses_column_postal_code}}</label>

                <div class="controls">
                    <input class="input-large" id="field_postal_code" type="text" value="{{model.postalCode}}">
                    <span class="help-inline"> </span>
                </div>
            </div>

            <div class="control-group form-horizontal field-shipping-type">
                <label class="control-label" for="field_shipping_type">{{shipping_addresses_column_shipping_type}}</label>

                <div class="controls">
                    <div>
                        <input type="hidden" id="field_shipping_type" value="{{model.shippingType.id}}" data-text="{{model.shippingType.name}}">
                    </div>
                    <span class="help-inline"> </span>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">{{general_close}}</button>
            <button class="btn btn-primary editEntitySubmitButton">{{submit}}</button>
        </div>
    </div>
</div>
