{{#models}}
<div class="ukrPost">
   {{^fake}}
   <img src="resources/img/f116_front.png" />
    <div class="text name">
        {{attributes.shippingAddress.recipient}}
    </div>
    <div class="text address">
        {{attributes.shippingAddress.address}}
    </div>
    <div class="text city">
        {{attributes.shippingAddress.city.name}},
        {{attributes.shippingAddress.city.region}},
        {{attributes.shippingAddress.postalCode}}
    </div>
    <div class="text priceLess">
        Б/Ц
    </div>
    <div class="text priceLess1">
        Б/Ц
    </div>
    <div class="text bird">
        ✔
    </div>
    <div class="text phone">
        {{attributes.shippingAddress.phone}}
    </div>
    <div class="text name1">
        {{attributes.shippingAddress.recipient}}
    </div>
    <div class="text address1">
        {{attributes.shippingAddress.address}}
    </div>
    <div class="text city1">
        {{attributes.shippingAddress.city.name}},
        {{attributes.shippingAddress.city.region}},
        {{attributes.shippingAddress.postalCode}}
    </div>
    <div class="text returnName">
        {{returnAddress.recipient}}
    </div>
    <div class="text returnAddress">
        {{returnAddress.address}}
    </div>
    <div class="text returnCity">
        {{returnAddress.city}},
        {{returnAddress.region}},
        {{returnAddress.postalCode}}
    </div>
   {{/fake}}
</div>
{{/models}}